<h1>Listing users</h1>

<table>
  <tr>
    <th>Home</th>
    <th>Adv Card</th>
    <th>Points</th>
    <th>Hood</th>
    <th>Serial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.home %></td>
    <td><%= user.adv_card %></td>
    <td><%= user.points %></td>
    <td><%= user.hood %></td>
    <td><%= user.serial %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
