<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @achiefe.name %>
</p>

<p>
  <b>Points:</b>
  <%= @achiefe.points %>
</p>


<%= link_to 'Edit', edit_achiefe_path(@achiefe) %> |
<%= link_to 'Back', achieves_path %>
