<h1>Listing hoods</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hoods.each do |hood| %>
  <tr>
    <td><%= hood.name %></td>
    <td><%= link_to 'Show', hood %></td>
    <td><%= link_to 'Edit', edit_hood_path(hood) %></td>
    <td><%= link_to 'Destroy', hood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hood', new_hood_path %>
